<!DOCTYPE html>
<html>
<head>
    <title>Reset Password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="headerbar">Reset Password Akun</div>
<div class="container">
  <h2>Reset Password</h2>
  <form method="POST">
    <label>Username kamu</label>
    <input name="username" placeholder="Username" required>
    <label>Password baru</label>
    <input name="new_password" type="password" placeholder="Password baru" required>
    <button type="submit">Reset Password</button>
  </form>
  <p>Kembali ke <a href="{{ url_for('login') }}">Login</a></p>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="msg-error">
        {% for msg in messages %}
          {{ msg }}<br>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
</div>
<div class="footer">© Sistem Manajemen Kelas Kampus</div>
</body>
</html>
